./utils
fastapi==0.104.1
uvicorn[standard]==0.23.2
python-multipart==0.0.6
lgg==0.2.4
opencv_python==4.8.1.78
Pillow==10.1.0
pydantic==2.5.1
setuptools==57.4.0
supervision==0.16.0
ultralytics==8.0.153
